@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

html, body {
  height: 100%;
  color: #d0e7e9;
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 100%;
  color: #ffffff; }

.header_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  background: url(../img/gal.png) no-repeat center center;
  /*Без "background-size: cover;" на весь экран не растягивалось*/
  background-size: cover; }

.header__title {
  font-size: 60px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: -0.025em;
  text-align: center;
  padding-top: 181px;
  margin-bottom: 22px; }

.header__text {
  font-size: 17px;
  line-height: 24px;
  font-style: italic;
  color: #d0e7e9;
  margin: 0 auto;
  width: 687px;
  text-align: center; }

.header__video {
  height: 99px;
  width: 99px;
  background: url("../img/icons/layers.png") no-repeat center center;
  display: block;
  text-indent: -99999px;
  margin: 80px auto 260px;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  margin-bottom: 287px; }

.header__video:hover, .header__video:focus {
  -webkit-transform: translate(0, -15px);
  -ms-transform: translate(0, -15px);
  transform: translate(0, -15px); }

.header__link {
  text-decoration: none;
  color: inherit;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.05em;
  display: block;
  padding: 25px 80px;
  background-color: #7accc8;
  border-radius: 3.0px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2); }

.header__link:hover {
  background-color: #e8b968; }

.download {
  background: #e8b968 url(../img/ipadBG.png) no-repeat right 65px;
  background-size: 50%;
  padding-bottom: 185px;
  color: #fff; }
  .download__body {
    width: 683px; }
  .download__title {
    margin-bottom: 39px;
    padding-top: 95px;
    font-size: 55px;
    line-height: 53px;
    font-weight: 300; }
  .download__text {
    font-size: 16px;
    line-height: 30px; }
  .download__link {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 0.025em;
    padding: 18px 70px;
    border: 3px solid #fff;
    border-radius: 3px; }
  .download__link:hover {
    border: 3px solid #443419;
    color: #443419;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease; }

.container {
  width: 1180px;
  margin: 0 auto; }

.first {
  margin-bottom: 48px; }

.second {
  margin-bottom: 72px; }

.about {
  background: url(../img/grow.png) no-repeat center center;
  background-size: cover; }
  .about__body {
    width: 1080px;
    margin: 0 auto; }
  .about__avatar {
    margin-bottom: 80px; }
  .about__img {
    border: 5.0px solid #ffffff;
    border-radius: 50%; }
  .about__title {
    width: 1075px;
    font-size: 43px;
    line-height: 53px;
    font-weight: 300;
    font-style: italic;
    color: #fff;
    padding-bottom: 150px; }
  .about__title:after {
    content: "";
    display: block;
    width: 9px;
    height: 8px;
    background-color: #ffffff;
    border: 8.0px solid #ffffff;
    border-radius: 50%;
    margin: 160px auto 0 auto; }

.sliders {
  padding-top: 140px;
  text-align: center; }

.try {
  margin-top: 87px;
  color: #7a8387;
  margin-bottom: 136px; }
  .try__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .try__list {
    padding-right: 70px;
    border-right: 1px solid rgba(208, 217, 226, 0.5); }
  .try__title {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #9197a8;
    margin-bottom: 32px; }
  .try__desc {
    font-size: 16px;
    line-height: 30px;
    width: 520px; }
  .try__list-second {
    padding-left: 70px; }
  .try__link {
    display: block;
    width: 182px;
    margin: 107px auto 0 auto;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    letter-spacing: 0.025em;
    background-color: #f69679;
    border-radius: 3.0px;
    padding: 24px 50px; }
  .try__link:hover {
    background-color: #8a665b; }

.first {
  margin-bottom: 85px; }

.flat {
  padding-bottom: 158px;
  background-color: #f6f6f4;
  padding-top: 100px; }
  .flat__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .flat__card-first {
    margin-right: 22px;
    background-color: #ffffff; }
  .flat__img {
    margin-bottom: 31px; }
  .flat__title {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #9197a8;
    margin-bottom: 20px;
    padding-left: 40px; }
  .flat__desc {
    font-size: 16px;
    line-height: 30px;
    font-style: italic;
    color: #7a8387;
    padding-bottom: 68px;
    padding-left: 40px; }
  .flat__card-second {
    margin-right: 22px;
    background-color: #ffffff; }

.title-second {
  font-family: Lato;
  font-size: 45px;
  font-weight: 300;
  color: #abbcc3;
  text-transform: none;
  line-height: 53px;
  letter-spacing: normal;
  padding-bottom: 23px; }

.desc-second {
  font-family: Lato;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #abbcc3; }

.footer {
  padding-top: 76px;
  padding-bottom: 241px;
  background-color: #7accc8;
  color: #ffffff; }
  .footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer__first {
    line-height: 24px;
    letter-spacing: -0.025em;
    width: 368px;
    margin-right: 37px; }
  .footer__second {
    width: 207px; }
  .footer__text {
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    text-align: center; }
  .footer__link {
    text-decoration: none;
    color: inherit;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: -0.025em; }
  .footer__link:hover {
    color: #d0e7e9; }
  .footer__img {
    display: block;
    margin: 130px auto 82px auto; }
